---
title: HTML5 Boilerplate Middleman
---
#wrap
	.container
		.row
			.col-md-12
				%ul.nav.nav-tabs
					%li.active <a href="#">Home</a>
					%li <a href="#">Profile</a>
					%li <a href="#">Messages</a>